<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.top.topcrm.mapper.contactMapper">
    <resultMap id="contactMapper" type="com.top.topcrm.domain.contact">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="isLeft" property="isLeft"/>
        <result column="address" property="address"/>
        <result column="creater" property="creater"/>
        <result column="create_time" property="create_time" jdbcType="DATE"/>
        <result column="updater" property="updater"/>
        <result column="update_time" property="update_time" jdbcType="DATE"/>

    </resultMap>
    <select id="getAllContact" resultMap="contactMapper">
        select * from contact
    </select>
    <insert id="insertContact" parameterType="com.top.topcrm.domain.contact">
        insert into contact (
                             <trim suffixOverrides=",">
                                 <if test="name!=null and name!=''">name,</if>
                                 <if test="phone!=null and phone!=''">phone,</if>
                                 <if test="isLeft!=null and isLeft!=''">isLeft,</if>
                                 <if test="address!=null and address!=''">address,</if>
                                 <if test="creater!=null and creater!=''">creater,</if>
                                <if test="create_time!=null">create_time,</if>
                                <if test="updater!=null and updater !=''">updater,</if>
                                 <if test="update_time!=null">update_time,</if>
                             </trim>
        ) values(
        <trim suffixOverrides=",">
            <if test="name!=null and name!=''">#{name},</if>
            <if test="phone!=null and phone!=''">#{phone},</if>
            <if test="isLeft!=null and isLeft!=''">#{isLeft},</if>
            <if test="address!=null and address!=''">#{address},</if>
            <if test="creater!=null and creater!=''">#{creater},</if>
            <if test="create_time!=null">#{create_time},</if>
            <if test="updater!=null and updater !=''">#{updater},</if>
            <if test="update_time!=null">#{update_time},</if>
        </trim>
        )
    </insert>
    <delete id="deleteContact" parameterType="Long">
        delete from contact where id=#{id}
    </delete>
    <update id="updateContact" parameterType="com.top.topcrm.domain.contact">
        update contact
        <set>
            <if test="name!=null and name!=''">name=#{name},</if>
            <if test="phone!=null and phone!=''">phone=#{phone},</if>
            <if test="isLeft!=null and isLeft!=''">isLeft=#{isLeft},</if>
            <if test="address!=null and address!=''">address=#{address},</if>
            <if test="updater!=null and updater !=''">updater=#{updater},</if>
            <if test="update_time!=null">update_time=#{update_time},</if>
        </set>
            WHERE id=#{id}
    </update>
    <select id="searchContact" resultType="com.top.topcrm.domain.contact">
        select * from contact where 1=1
        <if test="searchParam !=null and searchParam !=''">
            AND   name LIKE CONCAT('%',#{searchParam},'%')
            or phone LIKE CONCAT('%',#{searchParam},'%')
            or customer_id  LIKE CONCAT('%',#{searchParam},'%')
            or customer_name  LIKE CONCAT('%',#{searchParam},'%')
            or isLeft  LIKE CONCAT('%',#{searchParam},'%')
            or address  LIKE CONCAT('%',#{searchParam},'%')
            or creater  LIKE CONCAT('%',#{searchParam},'%')
            or create_time  LIKE CONCAT('%',#{searchParam},'%')
            or updater  LIKE CONCAT('%',#{searchParam},'%')
            or update_time  LIKE CONCAT('%',#{searchParam},'%')
        </if>
    </select>
    <select id="selectContactById" resultMap="contactMapper">
        select * from contact
            <where>
                <if test="id!=null and id!=''">
                    id=#{id}
                </if>
            </where>
    </select>
    <select id="selectIdAndName" resultType="com.top.topcrm.domain.contact">
        select id,name from contact where 1=1
    </select>
</mapper>